.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  /* min-height: 0vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000d2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-70 {
  background-image: linear-gradient(to bottom right, #FE7300, #FF0096);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-control[type=text] {
  /* width: 15%; */
  width: 170px;
  padding: 10px 15px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #E7E7E7;
  border-radius: 4px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: left;
  table-layout: auto;
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
}

.content-table thead tr {
  background-color: #e7e7e7;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #E7E7E7;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #E7E7E7;
}

.content-table tbody tr.active-row {
  font-weight: normal;
  color: #000000;
}

.add-results-container {
  margin: 15px;
}

.add-results-container h2 {
  font-size: calc(10px + 1vmin);
  text-align: left;
  /* padding: 5px; */
  /* margin: 10px; */
  margin: calc(15px + 1vmin);
  color: #000000a2
}

.add-results-container ul {
  color: #000000a2;
  font-size: calc(10px + 0.5vmin);
  margin: calc(15px + 1vmin);
  text-align: left;
}
